@mixin noselect() {
  user-select: none;
}

@mixin button() {
  font-family: $font-family;
  font-size: $font-size;
  background: fade-out(#000, 0.2);
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 5px 9px 5px 9px;
  outline: none;
  font-size: 14px;
  margin: 0;
}

@mixin input() {
  font-family: $font-family;
  font-size: $font-size;
  border-radius: 3px;
  border: 1px solid fade-out(#000, 0.9);
  padding: 4px 9px 4px 9px;
  margin: 0;
  line-height: 1;
  outline: none;
}
