<div class="block-frontend-header">
  <LinkTo @route="index">×</LinkTo>
  {{#if @backend}}
    {{#if @backend.mode}}
      <LinkTo @route={{@backend.route}} @model={{@backend.model}}>→</LinkTo>
    {{else}}
      <LinkTo @route={{@backend.route}}>→</LinkTo>
    {{/if}}
  {{/if}}
</div>