<div class="block-frontend-header">
  <LinkTo @route="index">×</LinkTo>
  {{#if this.backend}}
    {{#if this.backend.model}}
      <LinkTo @route={{this.backend.route}} @model={{this.backend.model}}>→</LinkTo>
    {{else}}
      <LinkTo @route={{this.backend.route}}>→</LinkTo>
    {{/if}}
  {{/if}}
</div>