<div class="block-frontend-header">
  <div class="content">
    <LinkTo @route="index">×</LinkTo>
    {{#if this.backend}}
      {{#if this.backend.model}}
        <LinkTo @route={{this.backend.route}} @model={{this.backend.model}}>→</LinkTo>
      {{else}}
        <LinkTo @route={{this.backend.route}}>→</LinkTo>
      {{/if}}
    {{/if}}
  </div>
  {{#unless this.isSignedIn}}
    <div class="aside">
      <LinkTo @class="sign-in" @route="backend">
        <Block::Icon @name="rocket"/>
      </LinkTo>
    </div>
  {{/unless}}
</div>