.block-frontend-post {
  > .header {
    > .meta {
      font-size: 12px;
    }
    margin-bottom: 50px;
  }
  &.type-text {
    > .content {
      max-width: 900px;
      @include markdown();
    }
  }
  &.type-parallel {
    > .columns {
      max-width: 900px;
      display: flex;
      flex-direction: row;
      > .column {
        flex: 1;
        margin: 0 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        > .author {
          font-weight: 600;
          margin-bottom: 10px;
        }
        > .content {
          @include markdown();
        }
      }
    }
  }
}
