<div class="title">{{@post._title}}</div>
<div class="authors">
  {{#each @post.authors as |author|}}
    <div class="author">
      <div class="name">{{author.name}}</div>
      <div class="body">
        {{html-safe author.renderedBody}}
      </div>
    </div>
  {{/each}}
</div>