<div class="title">{{@post._title}}</div>
<div class="columns">
  {{#each @post.columns as |column|}}
    <div class="column">
      <div class="author">{{column.author}}</div>
      <div class="body">
        {{html-safe column.renderedBody}}
      </div>
    </div>
  {{/each}}
</div>