<div class="header">
  <div class="title">{{@post._title}}</div>
  <div class="meta">{{timestamp @post.createdAt}}</div>
</div>
<div class="columns">
  {{#each @post.columns as |column|}}
    <div class="column">
      {{#if column.name}}
        <div class="author">{{column.name}}</div>
      {{/if}}
      <div class="content">{{html-safe column.renderedBody}}</div>
    </div>
  {{/each}}
</div>