<div class="header">
  <div class="title">{{@post._title}}</div>
  <div class="meta">{{timestamp @post.createdAt}}</div>
</div>
<div class="authors">
  {{#each @post.authors as |author|}}
    <div class="author">
      {{#if author.name}}
        <div class="name">{{author.name}}</div>
      {{/if}}
      <div class="content">{{html-safe author.renderedBody}}</div>
    </div>
  {{/each}}
</div>