<div class="header">
  <div class="title">{{@post._title}}</div>
  <div class="meta">
    {{if @post.author (concat @post.author ', ')}}{{timestamp @post.createdAt}}
  </div>
</div>
<div class="content">
  {{html-safe @post.renderedBody}}
</div>