.block-backend-posts-list {
  > .post {
    padding: 15px;
    border-bottom: 1px solid fade-out(#000, 0.9);
    > .description {
      > .line {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.type-strong {
          font-weight: 600;
        }
      }
    }
    > .details {
      margin-top: 5px;
      font-size: $font-size-smaller;
    }
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background: fade-out(#000, 0.97);
    }
  }
  > .placeholder {
    padding: 15px;
  }
}
