<div class="route-backend-posts-post-edit">

  <Block::Backend::Header @title="Edit Post" as |Header|>
    <Header.Details @value={{@model.typeName}}/>
    {{#unless this.isBusy}}
      <Header.Actions>
        <Input::Button @class="action" @value="Cancel" @onClick={{this.onCancel}}/>
        <Input::Button @class="action" @value="Save" @onClick={{this.onSave}}/>
      </Header.Actions>
    {{/unless}}
  </Block::Backend::Header>

  <Block::Backend::Post::Edit @post={{@model}}/>

</div>
