<div class="block-backend-sidebar">
  <div class="content">
    <Block::Backend::Sidebar::Item @icon="globe-europe" @onClick={{fn this.route "index"}}/>
    <Block::Backend::Sidebar::Item @icon="archive" @onClick={{fn this.route "backend.posts"}}/>
    <div class="delimiter"></div>
    <Block::Backend::Sidebar::Item @icon="user-astronaut" @onClick={{fn this.route "backend.user"}}/>
    <Block::Backend::Sidebar::Item @icon="power-off" @onClick={{this.signOut}}/>
  </div>
</div>
