.block-backend-tabs {
  margin: 5px -15px 10px -15px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid fade-out(#000, 0.9);
  align-items: baseline;
  > .label {
    font-size: $font-size-smaller;
    margin-right: 10px;
  }
  > .tab {
    margin-bottom: -1px;
    padding: 7px 15px 6px 15px;
    &.selected {
      background: fade-out(#000, 0.2);
      color: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  > .accessories {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
