<div class="row">
  <div class="label">Title</div>
  <Input::Text @class="input" @value={{@post.title}} @onUpdate={{fn @onUpdate 'title'}}/>
</div>
<div class="row fill">
  <Input::Textarea @class="input" @value={{@post.body}} @onUpdate={{fn @onUpdate 'body'}}/>
</div>