<Block::Frontend::Container @class="route-frontend-session-denied">

  <div class="message">Sorry, you're not editor yet</div>

  <div class="actions">
    <Input::Button @value="Sign out" @onClick={{this.signOut}}/>
  </div>

</Block::Frontend::Container>
