<div class="post">
  <div class="meta">
      <div class="date">
        {{#if @date}}
          {{@post.formattedCreatedAt}}
        {{/if}}
      </div>
  </div>
  <div class="content">
    <LinkTo @route="posts.post" @model={{@post.id}} @class="title">
      {{@post._title}}
    </LinkTo>
  </div>
</div>
